@{
    ViewData["Title"] = "Opções";
}

<div class="row justify-content-center">
    <div class="col">
        <h5>Opções de cadastro</h5>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col">
        <label>Cadastre-se para encontrar as clínicas veterinárias disponíveis próximas a você</label>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <a href="#" class="btn btn-success">Quero me cadastrar</a>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col">
        <label>Cadastre sua própria clínica veterinária e junte-se a nós</label>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <a href="@Url.Action("Cadastro", "Funcionario")" class="btn btn-outline-success">Quero cadastrar minha clínica</a>
    </div>
</div>